[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
flask = "*"
gunicorn = "*"
flask-graphql = "*"
pylint = "*"
python-dotenv = "*"
python-dateutil = "*"
graphene = "*"
pyopenssl = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
google-auth = "*"
requests = "*"
oauthlib = "*"
flask-script = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
